<header>
    <div class="logo">
        Alniono
    </div>
    <nav>
        <ul>
            <li class="nav-links">Home</li>
            <li class="nav-links">Services</li>
            <li class="nav-links">Blog</li>
            <li class="nav-links">About</li>
            <li class="nav-links">Contact</li>
        </ul>
    </nav>
</header>