<header>
    <div class="logo">
        Zeho
    </div>
    <nav>
        <ul>
            <li class="nav-links">
                <a href="/">Home</a>
            </li>
            <li class="nav-links">
                <a href="/blog.html">Blog</a>
            </li>
            <li class="nav-links">
                <a href="/about">About</a>
            </li>
            <li class="nav-links">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>